.filters{
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 10px;
}



::ng-deep{
    // .mat-form-field-infix {
    //     background-color: #3f51b5;
    // }

    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color: #fff !important;
        opacity: 1;
    }

    .mat-form-field-infix {
        border-color: #fff !important;
        border-top: none;
        padding-left: 5px !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
        padding-left: 5px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #fff !important;
    }
}


.books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}

.book {
    width: 370px;
    margin: 10px;
    height: 520px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 4px 3px 8px 0px rgb(200 154 44);
    transition-duration: 0.3s;
    cursor: pointer;
    text-align: center;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden; 

    &:hover {
      box-shadow: 4px 3px 1px 6px rbg(200 152 44);
      transform: translateY(-3px);
    }


    &-thumbnail{
        display: inline-block;
        position: relative;
        margin: 0 auto;
        height: 230px;
    }

    &-name{
        padding: 2%;
        color: rgb(255, 255, 255);
        font-weight: 590;
        font-size: 22px;
        margin-bottom: 40px;
        white-space: nowrap;
        text-overflow:inherit;
        overflow: hidden;
    }

    &-description{
        color: rgb(255, 255, 255);
        font-size: 10px;
        text-overflow:unset;
        overflow: hidden;
        white-space: initial;
        height: 50px;
        position:relative;
    }

    &-footer{
        position: relative;
        display: block;
        height:50px;
        text-align: center;
        // margin-bottom: 1px;
        // background-color: #3f51b5;
    }
}


.button{
    border-left: 1px solid rgba(0,0,0,0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 10px;
 }
