<app-search-bar>
</app-search-bar>

<div class="main-container">
    <div class="left-container">
        <p class="book-name">Filter category:</p>
        <input [(ngModel)] ='category'>
        <button type="button" class="button" (click)="onCategoryFilter()">Filtr</button>
        <button type="button" class="button" (click)="onCategoryFilterClear()">Clear</button>
    
        <p class="book-name"><label>Sort by &nbsp;</label></p>
        <select [(ngModel)] = 'SortbyParam'>
            <option value="price">Price</option>
            <option value="author">Author</option>
            <option value="starRating">Rating</option>
        </select>      
    </div>
</div>

<div class="right-container">
    <ul>
        <li *ngFor="let book of books|filter:filteredCategory:'category' |sort:[SortbyParam,'desc']">
            <a>
                <div class="books">
                    <div class="book">
                        <img src="{{book.imageUrl}}" alt="thumbnail" class="book-thumbnail">
                        <p class="book-name">
                        {{ book.name }} <br>
                        {{ book.author }} <br> 
                        {{ book.price|currency }} <br>
                        {{ book.pages }} <br>
                        {{ book.category }} <br>
                        <star-rating 
                        [value]="book.starRating" 
                        [totalstars]="5" 
                        checkedcolor="red" 
                        uncheckedcolor="black" 
                        size="24px" 
                        [readonly]="true">
                        </star-rating>
                        </p>
                        <div class="book-description">
                            {{ book.description }}
                        </div>
                        <div class="book-footer">
                            <button class="button" [routerLink]="['/book/edit',book.id]">Edit</button>
                            <button class="button" (click)="onDelete(book.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
