.book-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 3%;
  }
  
.book-form-full-width {
    width: 100%;
  }


.mat-typography{
  pointer-events: all;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  background-color: white;
}

.button{
  margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 800px;
}


.button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 10px;
}
